<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for [:admin, @bill], remote: true,
      html: {style: "display:inline;"} do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="form-group">
          <%= f.label :status, class: "control-label" %>
          <%= f.select :status, @options, {}, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
