  <div class="modal-content">
    <%= form_for [:admin, @bill], remote: true,
      html: {style: "display:inline;"} do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="form-group">
          <%= f.label :status, class: "control-label" %>
          <%= f.select :status, @options, {}, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag type: f.submit ,
          class: "btn btn-primary btn-size-default",
          title: t("admin.buttons.save_record") do %>
          <i class="glyphicon glyphicon-ok"></i>
        <% end %>
        <%= link_to '<i class="glyphicon glyphicon-off"></i>'.html_safe, "#",
          class: "btn btn-danger btn-size-default",
          title: t("admin.buttons.close_dialog"), data: {dismss: "modal"} %>
      </div>
    <% end %>
  </div>
