<% provide :title, t("Checkout") %>
<div class="cart-page"  id="app">
  <div class="container-fluid" v-if="items_count > 0">
    <div class="row">
      <div class="col-md-9">
        <div class="row head">
          <div class="col-md-7">
            <span class="simpleCart_quantity"></span> <%= t ".products" %>
          </div>
          <div class="col-md-2">
            <%= t "Price" %>
          </div>
          <div class="col-md-3">
            <%= t "Quantity" %>
          </div>
        </div>
        <div class="items">
          <div class="row" v-for="p in items">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-4">
                  <img v-bind:src="p.image" width="120px" height="160px">
                </div>
                <div class="col-md-8">
                  <h3>{{p.name}}</h3>
                  <p>
                    <i>{{p.brand}}</i>
                  </p>
                  <p>
                    <i>{{p.category}}</i>
                  </p>
                  <p>
                    <i class="fa fa-trash fa-2x" v-on:click="remove(p)"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-2 price">
             $ {{p.price}}
            </div>
            <div class="col-md-3 quantity">
              <span id="increment" v-on:click="increment(p)">+</span>
              <input id="quantity" v-model="p.quantity" type="number" max="10"
                min="1" v-on:change="quantity(p)">
              <span id="decrement" v-on:click="decrement(p)">-</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 bill-info">
        <div class="row">
          <h3 class="col-md-12"><%= t "bill_information" %></h3>
          <div class="col-md-6">Total: </div>
          <div class="col-md-6 text-right">
            <span class="simpleCart_total"></span>
          </div>
          <% if logged_in? %>
            <div class="col-md-6">
              <a href="javascript:;" class="simpleCart_checkout bg-success">
                <%= t ".checkout" %>
              </a>
            </div>
          <% else %>
            <div class="col-md-6">
              <a href="#" class="bg-info" data-toggle="modal"
                data-target="#myModal">
                <%= t "login" %>
              </a>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content col-md-8 col-md-offset-3">
                  <div class="modal-header">
                    <button type="button" class="close"
                      data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><%= t "login" %></h4>
                  </div>
                  <%= form_for :session, url: login_url do |f| %>
                  <div class="modal-body">
                    <p><%= f.label :email %></p>
                    <p><%= f.text_field :email %></p>
                    <p><%= f.label :password %></p>
                    <p><%= f.password_field :password %></p>
                    <p><%= link_to t("crete_an_account"), signup_url %></p>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit t("login"), class: "btn btn-primary" %>
                    <button type="button" class="btn btn-primary"
                      data-dismiss="modal"><%= t "close" %></button>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" v-else>
    <h1 class="head">
      <%= t "no_product" %><%= link_to"Continue shopping...", root_url %>
    </h1>
  </div>
</div>
<%= javascript_include_tag "checkoutcart" %>
