<div class="modal-content">
  <%= form_for [:admin, @brand], remote: true,
  html: {style: "display:inline;"} do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>
  <div class="form-group">
    <%= f.label :name, class:"control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_area :description, class: "form-control txt-area-content" %>
  </div>
</div>
<div class="modal-footer">
  <%= button_tag type: f.submit, class: "btn btn-primary btn-size-default",
  title: t("admin.buttons.save_record") do %>
    <i class="glyphicon glyphicon-ok"></i>
  <% end %>
  <%= link_to '<i class="glyphicon glyphicon-off"></i>'.html_safe, "", class:
    "btn btn-danger btn-size-default",
     title: t("admin.buttons.close_dialog"), data: {dismiss: "modal"} %>
</div>
<% end %>
</div>
