<% @brands.each do |brand| %>
  <tr>
    <td><%= brand.id %></td>
    <td><%= brand.name %></td>
    <td><%= brand.description %></td>
    <td><%= link_to "Edit", edit_admin_brand_path(brand), remote: true, class:
      "btn btn-info" %></td>
    <td><%= link_to "Delete", admin_brand_path(brand), remote: true, class:
      "btn btn-danger" %></td>
  </tr>
<% end %>
