<div class="ckeckout">
    <div class="container">
      <div class="ckeck-top heading">
        <h2><%= t ".checkout" %></h2>
      </div>
      <div class="ckeckout-top">
      <div class="cart-items">
        <h3><%= t ".my_shop_bag" %></h3>
      <div class="in-check" >
        <ul class="unit">
          <li><span><%= t ".item" %></span></li>
          <li><span><%= t ".product_name" %></span></li>
          <li><span><%= t ".unit_price" %></span></li>
          <li><span><%= t ".delivery_details" %></span></li>
          <li> </li>
          <div class="clearfix"> </div>
        </ul>
        <ul class="cart-header">
          <div class="close1"> </div>
            <li class="ring-in">
              <%= link_to "single.html" do %>
                <%= image_tag "c-1.jpg", class: "img-responsive" %>
              <% end %>
            </li>
            <li><span class="name"><%= t ".Analog_Watch" %></span></li>
            <li><span class="cost"><%= t ".price_1" %></span></li>
            <li><span><%= t ".free" %></span>
            <p><%= t ".delivery" %></p></li>
          <div class="clearfix"> </div>
        </ul>
        <ul class=" cart-header1">
          <div class="close2"> </div>
            <li class="ring-in">
              <%= link_to "single.html" do %>
                <%= image_tag "c-2.jpg", class: "img-responsive" %>
              <% end %>
            </li>
            <li><span class="name"><%= t ".Analog_Watch" %></span></li>
            <li><span class="cost"><%= t ".price_2" %></span></li>
            <li><span><%= t ".free" %></span>
            <p><%= t ".delivery" %></p></li>
            <div class="clearfix"> </div>
        </ul>
        <ul class="cart-header2">
          <div class="close3"> </div>
            <li class="ring-in">
              <%= link_to "single.html" do %>
                <%= image_tag "c-3.jpg", class: "img-responsive" %>
              <% end %>
            </li>
            <li><span class="name"><%= t ".Analog_Watch" %></span></li>
            <li><span class="cost"><%= t ".price_3" %></span></li>
            <li><span><%= t ".free" %></span>
            <p><%= t ".delivery" %></p></li>
            <div class="clearfix"> </div>
        </ul>
      </div>
      </div>
     </div>
    </div>
  </div>
