<div class="col-md-3 prdt-right">
  <div class="w_sidebar">
    <%= form_for @category do |f|%>
      <section  class="sky-form">
        <h4><%= t ".Categories" %></h4>
        <div class="row1 scroll-pane">
          <div class="col col-4">
            <%= f.label :name, class: "checkbox" do %>
              <%= f.check_box :name %>
              <i></i><%= t ".all_accessories" %>
            <% end %>
          </div>
          <div class="col col-4">
            <%= f.label :name, class: "checkbox" do %>
              <%= f.check_box :name %>
              <i></i><%= t ".women_Watches" %>
            <% end %>
            <%= f.label :name, class: "checkbox" do %>
              <%= f.check_box :name %>
              <i></i><%= t ".kids_watches" %>
            <% end %>
            <%= f.label :name, class: "checkbox" do %>
              <%= f.check_box :name %>
              <i></i><%= t ".men_watches" %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
    <%= form_for @brand do |f|%>
      <section  class="sky-form">
        <h4><%= t ".brand" %></h4>
        <div class="row1 row2 scroll-pane">
          <div class="col col-4">
            <%= f.label :name, class: "checkbox" do %>
              <%= f.check_box :name %>
              <i></i><%= t ".kurtas" %>
            <% end %>
          </div>
        <div class="col col-4">
          <%= f.label :name, class: "checkbox" do %>
            <%= f.check_box :name %>
            <i></i><%= t ".Sonata" %>
          <% end %>
          <%= f.label :name, class: "checkbox" do %>
            <%= f.check_box :name %>
            <i></i><%= t ".Titan" %>
          <% end %>
          <%= f.label :name, class: "checkbox" do %>
            <%= f.check_box :name %>
            <i></i><%= t ".Casio" %>
          <% end %>
          <%= f.label :name, class: "checkbox" do %>
            <%= f.check_box :name %>
            <i></i><%= t ".Omax" %>
          <% end %>
          <%= f.label :name, class: "checkbox" do %>
            <%= f.check_box :name %>
            <i></i><%= t ".shree" %>
          <% end %>
          <%= f.label :name, class: "checkbox" do %>
            <%= f.check_box :name %>
            <i></i><%= t ".Fastrack" %>
          <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>
