<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3><i class="glyphicon glyphicon-trash"></i>
      <%= t "admin.buttons.delete" %> <%= t "admin.buttons.category" %></h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
    <%= t("admin.buttons.prompt")%><b><%= @category.name %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to '<i class="glyphicon glyphicon-ok"></i>&nbsp
      Yes, delete this'.html_safe, admin_category_path(@category),
      method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to '<i class="glyphicon glyphicon-remove"></i>&nbsp
      No, please don\'t'.html_safe, "#", class: "btn btn-info",
      data: {dismiss: "modal"} %>
  </div>
  </div>
</div>
