<% @products.each do |product| %>
  <tr>
    <td class= "text-center table-action-column">
      <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe , edit_admin_product_path(product), remote: true , class: "btn btn-info" %>

    </td>
    <td class= "text-center table-action-column">
      <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, admin_product_remove_path(product), remote: true, class: "btn btn-danger" %>
    </td>
    <td class="text-center table-action-column">
      <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe,
         product_path(product), class: "btn btn-info", target: "_blank"%>
    </td>
    <td><%= product.name %></td>
    <td><%= product.brand.name %></td>
    <td><%= product.category.name %></td>
    <td><%= product.price %></td>
    <td><%= image_tag product.product_images.first.image, class: "image_size" %>
    </td>
    <td><%= product.quantity %></td>
  </tr>
<% end %>
