<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3><i class="glyphicon glyphicon-trash"></i>
    <%= t "admin.buttons.delete" %> <%= t "admin.buttons.product" %></h3>
  </div>
  <% if @product.bill_details.present? %>
    <div class="modal-body">
    <ul class="errors"></ul>
      <p class= "delete_promt">
        You can't delete this  <b><%= @product.name %></b> Because this has
          relation with bill infomation
      </p>
    </div>
      <div class="modal-footer">
      <%= link_to "No, Please Don't", "#", class: "btn btn-info",
        data: { dismiss: "modal" } %>
    </div>
    <% else %>
    <div class="modal-body">
    <ul class="errors"></ul>
      <p class= "delete_promt">
        Are you sure you wish to delete <b><%= @product.name %></b>?
      </p>
    </div>
    <div class="modal-footer">
      <%= link_to "Yes, Delete This Product", admin_product_path(@product),
        method: :delete, remote: true, class: "btn btn-danger" %>
      <%= link_to "No, Please Don't", "#", class: "btn btn-info",
        data: { dismiss: "modal" } %>
    </div>
    <% end %>
  </div>
</div>
