<% provide :title, t("admin.products.headline") %>
<% provide :page_headline, t("admin.products.headline") %>
<% provide :url, new_admin_product_path %>
<%= render "admin/shared/headline" %>
<div class="clearfix">
  <div class="row">
    <div class="col_-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table id="tblProducts" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th class= "table-action-column"></th>
                <th class= "table-action-column"></th>
                <th class= "table-action-column">
                  <%= check_box_tag "check_all", "check_all", false,
                  class: "check_all icheckbox_flat-green" %>
                </th>
                <th><%= t "admin.products.name" %></th>
                <th><%= t "admin.brands.name" %></th>
                <th><%= t "admin.categories.name" %></th>
                <th><%= t "admin.products.price" %></th>
                <th><%= t "admin.products.image" %></th>
                <th><%= t "admin.products.quantity" %></th>
              </tr>
            </thead>
            <tbody id="categories" class="product-index">
              <%= render @products %>
            </tbody>
          </table>
          <%= link_to '<i class="glyphicon glyphicon-remove"></i>&nbsp Delete selected items'.html_safe, "#", class: "btn btn-danger", method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
  <script>
    $("#tblProducts").dataTable();
    $(document).on("click", ".check_all", function(e) {
      $(".brand-delete").prop("checked", !this.checked);
      $(".brand-delete").click();
  });
  </script>
