<% provide :title, t("admin.products.headline") %>
<% provide :page_headline, '<i class="fa fa-database"></i>&nbspProducts
   Manager'.html_safe %>
<% provide :url, new_admin_product_path %>
<%= render "admin/shared/headline" %>
<div class="clearfix">
  <div class="row">
    <div class="col_-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <%= form_tag delete_multiple_admin_products_path do %>
          <table id="tblProducts" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th class= "table-action-column"></th>
                <th class= "table-action-column"></th>
                <th class= "table-action-column"></th>
                <th class= "table-action-column">
                  <%#= check_box_tag "check_all", "check_all", false,
                  class: "check_all icheckbox_flat-green" %>
                </th>
                <th><%= t "admin.products.name" %></th>
                <th><%= t "admin.brands.name" %></th>
                <th><%= t "admin.categories.cName" %></th>
                <th><%= t "admin.products.price" %></th>
                <th><%= t "admin.products.image" %></th>
                <th><%= t "admin.products.quantity" %></th>
              </tr>
            </thead>
            <tbody id="products" class="product-index">
              <%= render "index" %>
            </tbody>
          </table>
           <%= button_tag(type: "submit", class: "btn btn-danger",
            data: {confirm: t("admin.buttons.prompt2")}) do %>
             <i class="glyphicon glyphicon-remove"></i>
             <%= t "admin.buttons.deletes"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
  <script>
    $("#tblProducts").dataTable();
    $(document).on("click", ".check_all", function(e) {
      $(".product-delete").prop("checked", !this.checked);
      $(".product-delete").click();
    });
  </script>
