<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.address %></td>
  <td><%= image_tag user.avatar_url, class: "image_size" %></td>
</tr>
