<div class="single contact">
  <div class="container">
    <div class="single-main">
      <div class="col-md-9 single-main-left">
      <div class="sngl-top">
        <div class="col-md-5 single-top-left">
          <div class="flexslider">
            <ul class="slides">
              <% JSON.parse(@product.image).each do |p| %>
              <li data-thumb="<%= p %>">
              <div class="thumb-image">
                  <%= image_tag p, alt: "",
                  class: "img-responsive", data: {imagezoom: true} %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-7 single-top-right">
          <div class="single-para simpleCart_shelfItem">
            <div class="item_pid" style="display:none;"><%= @product.id %></div>
            <h2 class="item_name"><%= @product.name %></h2>
            <div class="star-on">
              <ul class="star-footer">
                <li>
                  <%= link_to "#" do %>
                    <i> </i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i> </i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i> </i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i> </i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i> </i>
                  <% end %>
                </li>
              </ul>
              <div class="review">
              </div>
              <div class="clearfix"> </div>
            </div>
            <h5 class="item_price"><%= pluralize @product.price, "$", "$" %></h5>
            <p><%= @product.description %></p>
            <ul class="tag-men">
              <li><span class="tag"><%= t ".category" %></span>
              <span><%= @category.name %></span></li>
              <li><span class="tag"><%= t ".brand" %></span>
              <span><%= @brand.name %></span></li>
            </ul>
            <%= link_to t(".add_to_cart"), "javascript:;",
             class: "add-cart item_add", onclick: t(".alert") %>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="tabs">
        <ul class="menu_drop">
          <li class="item1">
            <%= link_to "#" do %>
              <%= image_tag("arrow.png") %>
              <%= t ".content" %>
            <% end %>
            <ul>
              <li class="subitem1">
                <p><%= @product.content %></p>
              </li>
            </ul>
          </li>
          <li class="item2">
            <%= link_to "#" do %>
              <%= image_tag("arrow.png") %>
              <%=  t(".review") %> <span id="count_comment">(<%= @product.comments.size %>)</span>
            <% end %>
            <ul>
              <li class="subitem1" id="comments">
                <%= render @product.comments %>
              </li>
            </ul>
          </li>
        </ul>
        <% if logged_in? %>
          <%= form_for @product.comments.new, remote: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <p><%= f.label :content, t(".review_product") %></p>
            <p><%= f.text_area :content, cols: 50, rows: 5, require: "" %></p>
            <p><%= f.submit t(".comment"), class: "btn btn-primary"%></p>
          <% end %>
        <% end %>
      </div>
      <%= render "lastproduct" %>
    </div>
    </div>
  </div>
</div>
