  <div class="top-header">
    <div class="container">
      <div class="top-header-main">
        <div class="col-md-6 top-header-left">
          <div class="drop">
            <div class="box1">
              <select tabindex="4" class="dropdown">
                <option value="" class="label"><%= t ".English2" %></option>
                <option value="1"><%= t ".English" %></option>
                <option value="2"><%= t ".Vietnamese" %></option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 top-header-left">
          <div class="cart box_1">
            <%= link_to "#" do %>
                <div class="total">
                  <span class="simpleCart_total"></span>
                </div>
                <%= image_tag("cart-1.png", alt: "") %>
            <% end %>
            <p>
              <%= link_to t(".Empty_Cart"), "javascript:;",
                class: "simpleCart_empty" %>
            </p>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
