<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= render "/layouts/admin/admin_default" %>
  </head>

  <body class = "nav-md" data-turbolinks="false">
    <div class="container body">
      <div class="main_container">
        <%= render "/layouts/admin/header" %>
        <%= render "/layouts/admin/menu" %>
        <div class="right_col" role="main">
          <div id= "flash_message" class="container">
            <%= render partial: "layouts/admin/flash", flash: flash %>
          </div>

          <%= yield %>
        </div>
      </div>
      <%= render "layouts/admin/footer" %>
  </div>
  </body>
</html>
